source_up

# use flake

export OPENCODE_CONFIG_DIR=/home/pl/code/spabreaks/opencode-config/opencode-config-dir
export OPENCODE_CONFIG=/home/pl/code/spabreaks/opencode-config/opencode-config.json

# export RSPEC_RUNNER_CMD='docker compose run --rm --name specs_whitesales whitesales "script/runspecs.sh {files}"'

export MEM_BRANCH_NAME="mem"
export MEM_DIR_NAME=".mem"

export CAST_FORBIDDEN_PATHS='["secrets", "deployment/gcloud/", "deployment/kube", "ocx.env", "tools/gemini/secrets.env"]'

export OPENCODE_CONFIG_DIR=~/.config/opencode/wss/opencode
