export OPENCODE_PORT="$(generate_port_from_path)"
export OPENCODE_WORKSPACE=.

HOOKS_DIR="$HOME/nix-config/home/config/git/hooks"

hooks_to_install=(
    "post-checkout"
)

# Install hooks
for hook in "${hooks_to_install[@]}"; do
    if [[ -f "$HOOKS_DIR/$hook" ]]; then
        if [[ ! -f ".git/hooks/$hook" ]] || [[ ".git/hooks/$hook" -ot "$HOOKS_DIR/$hook" ]]; then
            echo "direnv: Installing $hook hook"
            cp "$HOOKS_DIR/$hook" ".git/hooks/$hook"
            chmod +x ".git/hooks/$hook"
        fi
    fi
done

# Set PR info in env variables
if [[ -f .git/pr-info ]]; then
    source .git/pr-info
    export GH_PR_NUMBER
    export GIT_BASE
else
    unset GH_PR_NUMBER GIT_BASE
fi

watch_file .git/pr-info
