source_up

# TODO: change this to spabreaks org
use flake git+ssh://git@github.com/ygt/sb-scripts#spabreaks

export AGENTS_WORKSPACE=.

export RSPEC_RUNNER_CMD="docker compose exec -it test bundle exec rspec --require app.rb"
