source_up

export NIXPKGS_ALLOW_UNFREE=1

# use nix

export AGENTS_FORBIDDEN=.envrc:gcloud/
export AGENTS_WORKSPACE=.

sync_opencode_extra_config --sync-agents "$HOME/.config/agent-opencode/spabreaks/terraform"
