source_up

use flake git+ssh://git@github.com/ygt/sb-scripts#spabreaks

export OPENCODE_WORKSPACE=.
export GEMINI_WORKSPACE=.
export MCP_GEMINI_CLI_PORT=30302


sync_opencode_extra_config "$HOME/.config/agent-opencode/ygt/spabreaks"
