source_up

use flake git+ssh://git@github.com/ygt/sb-scripts#spabreaks

export AGENTS_FORBIDDEN=.envrc:config/secrets.yml:config/cloudinary.yml:docker/shared/db:docker/shared/tmp/:deployment/gcloud/:deployment/kube/gke_gcloud_auth_plugin_cache
export AGENTS_WORKSPACE=.

export MCP_GEMINI_CLI_PORT=30302

export GEMINI_GITHUB_TOKEN="$(cat /run/secrets/github/pats/palekiwi/gemini-cli)"

export JIRA_EMAIL="$(cat /run/secrets/jira/email)"
export JIRA_TOKEN="$(cat /run/secrets/jira/token)"

export JIRA_URL="https://palatinategroup.atlassian.net"
export JIRA_BOARD_ID="6"
export JIRA_PROJECT="SB"

export RSPEC_RUNNER_CMD="docker compose exec -it test bundle exec rspec"

sync_opencode_extra_config "$HOME/.config/agent-opencode/ygt/spabreaks"
