source_up

use flake

# Path to the isolated gcloud configuration
export CLOUDSDK_CONFIG="$PWD/deployment/gcloud"
export GOOGLE_APPLICATION_CREDENTIALS="$CLOUDSDK_CONFIG/application_default_credentials.json"

# Path to the isolated kubeconfig
export KUBECONFIG="$PWD/deployment/kube/config.yaml"

# Required for Nix-managed gcloud components to find Python packages
export CLOUDSDK_PYTHON_SITEPACKAGES=1


export RSPEC_RUNNER_CMD="docker compose exec -it test bundle exec rspec"

export SPABREAKS_INTEGRATION_BRANCH=

export CAST_EXTRA_DATA_VOLUMES__WSS__TARGET="~/code/spabreaks/wss"
export CAST_EXTRA_DATA_VOLUMES__WSS__SOURCE="~/code/spabreaks/wss"
export CAST_EXTRA_DATA_VOLUMES__WSS__TYPE="bind"
export CAST_EXTRA_DATA_VOLUMES__WSS__MODE="rw"

export OPENCODE_CONFIG_DIR=~/.config/opencode/spabreaks/spabreaks/opencode

export CUE_CONTEXT__DEFAULT__ARTIFACTS='[
  "./spec/index.md",
  "./spec/log.md",
  "./spec/tickets/*",
  "./plan/*.md"
]'
