source_up

use flake

export RSPEC_RUNNER_CMD="docker compose exec -it test bundle exec rspec"

export SPABREAKS_INTEGRATION_BRANCH=

export MEM_BRANCH_NAME="mem"
export MEM_DIR_NAME=".mem"

export CAST_FORBIDDEN_PATHS='["config/secrets.yml", "config/cloudinary.yml", "docker/shared/db", "docker/shared/tmp/", "deployment/gcloud/", "deployment/kube", "ocx.env", "tools/gemini/secrets.env"]'
export CAST_PIDS_LIMIT=1000

# notes
export CAST_EXTRA_DATA_VOLUMES__NOTES__TARGET="~/code/spabreaks/notes"
export CAST_EXTRA_DATA_VOLUMES__NOTES__SOURCE="~/code/spabreaks/notes"
export CAST_EXTRA_DATA_VOLUMES__NOTES__TYPE="bind"

export OPENCODE_CONFIG_DIR=~/.config/opencode/spabreaks/spabreaks/opencode

export MEM_CONTEXT__DEFAULT__ARTIFACTS='[
    "./spec/index.md",
    "./spec/log.md",
    "./spec/plan.md",
    "./spec/todo.md",
    "./spec/tickets/*"
]'

export MEM_CONTEXT__DEFAULT__INCLUDE='["master"]'
