source_up

use flake

export OPENCODE_CONFIG_DIR=/home/pl/code/spabreaks/opencode-config/opencode-config-dir
export OPENCODE_CONFIG=/home/pl/code/spabreaks/opencode-config/opencode-config.json

export RSPEC_RUNNER_CMD="docker compose exec -it test bundle exec rspec"

export SPABREAKS_INTEGRATION_BRANCH=

export MEM_BRANCH_NAME="mem"
export MEM_DIR_NAME=".mem"

export CAST_FORBIDDEN_PATHS='["config/secrets.yml", "config/cloudinary.yml", "docker/shared/db", "docker/shared/tmp/", "deployment/gcloud/", "deployment/kube", "ocx.env", "tools/gemini/secrets.env"]'
export CAST_PIDS_LIMIT=1000
