export GIT_CONFIG_GLOBAL="$PWD/.gitconfig"

export JIRA_EMAIL="$(cat /run/secrets/jira/email)"
export JIRA_TOKEN="$(cat /run/secrets/jira/token)"

export JIRA_URL="https://spabreaks.atlassian.net"
export JIRA_BOARD_ID="74"
export JIRA_PROJECT="SB"
