export GIT_CONFIG_GLOBAL="$PWD/.gitconfig"

export GEMINI_API_KEY="$(cat /run/secrets/spabreaks/gemini_api_key)"

export JIRA_EMAIL="$(cat /run/secrets/jira/email)"
export JIRA_TOKEN="$(cat /run/secrets/jira/token)"

export JIRA_URL="https://spabreaks.atlassian.net"
export JIRA_BOARD_ID="74"
export JIRA_PROJECT="SB"

export MEM_BRANCH_NAME="mem-pl"
export MEM_DIR_NAME=".agents"
