source_up

use flake

export RSPEC_RUNNER_CMD='docker compose run --rm --name specs_whitesales whitesales "script/runspecs.sh {files}"'

export MEM_BRANCH_NAME="mem"
export MEM_DIR_NAME=".mem"

export CAST_FORBIDDEN_PATHS='["secrets", "deployment/gcloud/", "deployment/kube", "ocx.env", "tools/gemini/secrets.env"]'
export CAST_PIDS_LIMIT=1024

export CAST_EXTRA_DATA_VOLUMES__NOTES__TARGET="~/code/spabreaks/notes"
export CAST_EXTRA_DATA_VOLUMES__NOTES__SOURCE="~/code/spabreaks/notes"
export CAST_EXTRA_DATA_VOLUMES__NOTES__TYPE="bind"

export OPENCODE_CONFIG_DIR=~/.config/opencode/wss/opencode
export OPENCODE_DISABLE_PROJECT_CONFIG=true
