source_up

use flake

export RSPEC_RUNNER_CMD='docker compose run --rm --name specs_whitesales whitesales "script/runspecs.sh {files}"'

export OPENCODE_CONFIG_DIR=~/.config/opencode/wss/opencode
export OPENCODE_DISABLE_PROJECT_CONFIG=true
