source_up

# use flake

export OPENCODE_CONFIG_DIR=~/.config/opencode/spabreaks/spabreaks/opencode
export OPENCODE_CONFIG_DIR=~/.config/opencode/spabreaks/spabreaks/opencode

# export RSPEC_RUNNER_CMD="docker compose exec -it test bundle exec rspec --require app.rb"

# export CAST_FORBIDDEN_PATHS='[]'

export CAST_EXTRA_DATA_VOLUMES__NOTES__TARGET="~/code/spabreaks/notes"
export CAST_EXTRA_DATA_VOLUMES__NOTES__SOURCE="~/code/spabreaks/notes"
export CAST_EXTRA_DATA_VOLUMES__NOTES__TYPE="bind"
