source_up

# use flake

export OPENCODE_CONFIG_DIR=~/.config/opencode/spabreaks/spabreaks/opencode
export OPENCODE_CONFIG_DIR=~/.config/opencode/spabreaks/spabreaks/opencode

# export RSPEC_RUNNER_CMD="docker compose exec -it test bundle exec rspec --require app.rb"

# export CAST_FORBIDDEN_PATHS='[]'
